{% extends "adminapp/templ_admapp.html" %}

{% block content1 %}
<br><br>
<h1 class="header center orange-text">PF Admin App Dash-board</h1>
<div class="row center">
  <h5 class="header col s12 light">Total and last 24-hours registered users and task lists</h5>
</div>
<br><br>
{% endblock content1 %}   

{% block content2 %}
<div class="section">
        
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m3">
        <div class="icon-block">
        <a href={{ url_for('adminapp.adm_usermgmt') }}>
          <h2 class="center light-blue-text"><i class="material-icons large">people</i></h2>
          <p class="light  center">Users registered total</p>
          <h3 class="center">{{ ncount }}</h3>
        </a>
        </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block">
        <a href={{ url_for('adminapp.adm_usermgmt') }}>
          <h2 class="center light-blue-text"><i class="material-icons medium">people_outline</i></h2>
          <h3 class="center ">{{ n24count }}</h3>
          <p class="light  center"><br>Users registered last 24 hours</p>
        </a> 
        </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block">
        <a href={{ url_for('adminapp.adm_usermgmt') }}>
          <h2 class="center light-blue-text"><i class="material-icons large">subject</i></h2>
          <p class="light  center">Task lists total</p>
          <h3 class="center">{{ tlcount }}</h3>
        </a>
        </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block">
        <a href={{ url_for('adminapp.adm_usermgmt') }}>
          <h2 class="center light-blue-text"><i class="material-icons medium">short_text</i></h2>
          <h3 class="center">{{ tl24count }}</h3>
          <p class="light center"><br>Task lists last 24 hours</p>
        </a>
        </div>
      </div>
    </div>

  </div>
  <br><br>
{% endblock content2 %}