{% extends "adminapp/templ_admapp.html" %}

{% block content1 %}
<br><br>
<h1 class="header center orange-text">PF Admin App Dash-board</h1>
<div class="row center">
  <h5 class="header col s12 light">Total and last 24-hours registered users and task lists</h5>
</div>
<br><br>
{% endblock content1 %}   

{% block content2 %}
<div class="section">
        
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m3">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">{{ ncount }}</h5>

          <p class="light">Users registered total</p>
        </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">{{ n24count }}</h5>

          <p class="light">Users registered last 24 hours</p>
        </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">{{ tlcount }}</h5>

          <p class="light">Task lists total</p>
        </div>
      </div>

      <div class="col s12 m3">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">{{ tl24count }}</h5>

          <p class="light">Task lists last 24 hours</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>
{% endblock content2 %}