{% extends "adminapp/templ_admapp.html" %}


{% set styleN = request.args.get("pg_style", 1) | int %}

{% set strpagelines = request.args.get("pg_lines", "10")  %}
{% set pagelines = (strpagelines if strpagelines in ['10', '12', '20', '24'] else '10') | int  %} 

{% set uid_del = request.args.get("uid_del", "0") | int %}

{% set pages = nn//(pagelines * styleN) + (0 if (nn % pagelines) == 0 else 1) %}

{% set strpagenum = request.args.get("pg_num", "1") %}
{% set strpagenum = strpagenum if strpagenum in ['first', 'last'] + range(1,pages+1)|map('string')|list else pages|string if strpagenum|int > pages else '1' %} 
{% set pagenum = 1 if strpagenum=='first' else pages if strpagenum=='last' else strpagenum | int %}

{% set ulist = mdaproc(pagenum=strpagenum, pagelen=pagelines*styleN) %}


{% block content1 %}
<h1 class="header center orange-text">PF Admin User List</h1>
<div class="row center">
  <h5 class="header col s12 light">Full list of app users {{pagelines}} lines per page, last is first</h5>
  <!-- <p> from view: nn={{nn}} <br>
      pagenum={{pagenum}} :: from url-args: {{ request.args.get("pg_num") }} <br>
      pagelines={{pagelines}} :: from url-args: {{ request.args.get("pg_lines") }} <br>
      uid_del=={{uid_del}} :: from url-args: {{ request.args.get("uid_del") }} <br>
      stylen={{styleN}} <br>
      pages={{pages}} <br>
      "range": {{ ['first', 'last'] + range(1,pages+1)|map('string')|list }}
  </p> -->
</div>

{% endblock content1 %}   

{% block content2 %}
</div>

<div class="">
  <div class="row">
    <div class="col m6">
      <ul class="pagination">
        <li class="waves-effect"><a href={{url_for("adminapp.adm_usermgmt", pg_num='first', pg_lines=strpagelines, pg_style=styleN)}}><i class="material-icons">first_page</i></a></li>
        <li class="waves-effect"><a href={{url_for("adminapp.adm_usermgmt", pg_num=(pagenum-1)|string, pg_lines=strpagelines, pg_style=styleN)}}><i class="material-icons">navigate_before</i></a></li>
        <li class="active"><a href="#!">{{pagenum}}/{{pages}}</a></li>
        <li class="waves-effect"><a href={{url_for("adminapp.adm_usermgmt", pg_num=(pagenum+1)|string, pg_lines=strpagelines, pg_style=styleN)}}><i class="material-icons">navigate_next</i></a></li>
        <li class="waves-effect"><a href={{url_for("adminapp.adm_usermgmt", pg_num='last', pg_lines=strpagelines, pg_style=styleN)}}><i class="material-icons">last_page</i></a></li>    
      </ul>
    </div>
    <div class="col m6">  
      <div class="right">
      <a class="dropdown-trigger waves-effect waves-light btn blue" data-target='dropdown_pglines'>LinesPerPage:{{pagelines}}</a>
      <!-- Dropdown Structure -->
      <ul id='dropdown_pglines' class='dropdown-content'>
        <li><a href={{url_for("adminapp.adm_usermgmt", pg_num=strpagenum, pg_lines=10, pg_style=styleN)}}>LinesPerPage:10</a></li>
        <li><a href={{url_for("adminapp.adm_usermgmt", pg_num=strpagenum, pg_lines=12, pg_style=styleN)}}>LinesPerPage:12</a></li>
        <li><a href={{url_for("adminapp.adm_usermgmt", pg_num=strpagenum, pg_lines=20, pg_style=styleN)}}>LinesPerPage:20</a></li>
        <li><a href={{url_for("adminapp.adm_usermgmt", pg_num=strpagenum, pg_lines=24, pg_style=styleN)}}>LinesPerPage:24</a></li>
      </ul> 
      <a class="dropdown-trigger waves-effect waves-light btn blue"  data-target='dropdown_pgstyles'>PageCol:{{styleN}}</a>
      <!-- Dropdown Structure -->
      <ul id='dropdown_pgstyles' class='dropdown-content'>
        <li><a href={{url_for("adminapp.adm_usermgmt", pg_num=strpagenum, pg_lines=strpagelines, pg_style=1)}}>1 col</a></li>
        <li><a href={{url_for("adminapp.adm_usermgmt", pg_num=strpagenum, pg_lines=strpagelines, pg_style=2)}}>2 col</a></li>
        <li><a href={{url_for("adminapp.adm_usermgmt", pg_num=strpagenum, pg_lines=strpagelines, pg_style=3)}}>3 col</a></li>
        <li><a href={{url_for("adminapp.adm_usermgmt", pg_num=strpagenum, pg_lines=strpagelines, pg_style=4)}}>4 col</a></li>
        <li><a href={{url_for("adminapp.adm_usermgmt", pg_num=strpagenum, pg_lines=strpagelines, pg_style=5)}}>5 col</a></li>
        <li><a href={{url_for("adminapp.adm_usermgmt", pg_num=strpagenum, pg_lines=strpagelines, pg_style=6)}}>6 col</a></li>
      </ul> 
      </div>
    </div>
  </div> 


{% if styleN in range(1, 7) %} 

 <div class="row"> 

    {% for i in range(1, styleN+1) %}

      <div class="col m{{12//styleN}}">
        <div class="collection">

       {% for u in ulist[(i-1)*pagelines:i*pagelines] %}

        {% if u.uid==uid_del %}
          
          <div>
            <h6> Delete user </h6>
            <div class="switch">
              <label>
                Delete Off
                <input type="checkbox" id="chb_delete"  onclick="pfActivateDelBtn()">
                <span class="lever"></span>
                Delete On
              </label>
            </div>
          </div>

          <div class="input-field inline">
              <input disabled value="{{ u.uid }}" id="uid" type="text">
              <label for="uid">Id</label>
          </div>
          <div class="input-field inline">
              <input disabled value="{{ u.uname }}" id="uname" type="text">
              <label for="uame">Name</label>
          </div>
          <div class="input-field inline">
              <input disabled value="{{ u.udtcreated }}" id="dtcreated" type="text">
              <label for="dtcreated">Date Created</label>
          </div>
          <div class="input-field inline">
            <input disabled value="{{ u.utlcount }}" id="ntls" type="text">
            <label for="ntls">Tlist count</label>
          </div>
          <div class="input-field inline">
            <input disabled value="{{ u.utcount }}" id="ntasks" type="text">
            <label for="ntasks">Task count</label>
          </div>

          <div>
          <a href={{url_for("adminapp.adm_delete_user", pg_num=strpagenum, pg_lines=strpagelines, pg_style=styleN, uname=u.uname)}} 
            class="waves-effect waves-light btn"  id="adm_delete" disabled>Delete
          </a>
          <a href={{url_for("adminapp.adm_usermgmt", pg_num=strpagenum, pg_lines=strpagelines, pg_style=styleN)}}
            class="waves-effect waves-light btn ">Cancel
          </a>
          <hr>
          </div>

        {% else %}

            <a href={{url_for("adminapp.adm_usermgmt", pg_num=strpagenum, pg_lines=strpagelines, pg_style=styleN, uid_del=u.uid)}}
              class="collection-item">
              <b>{{ u.uname }}</b> | tls:<b>{{u.utlcount}}</b> tasks:<b>{{u.utcount}}</b><br>
              {{ u.uid }} | {{ u.udtcreated }}
            </a>
          
        {% endif %}

       {% endfor %}

        </div>
      </div>

    {% endfor%}  
</div>

{% else %}
  <br>
  <p>Unknown page display style</p>

{% endif %} 
 
<br>
<script>
  function pfActivateDelBtn() {
      var b = document.getElementById("adm_delete");
      batr_before = b.hasAttribute("disabled");
      if (batr_before) 
        {b.removeAttribute("disabled")} 
      else 
        {b.setAttribute("disabled", "disabled")}
  }
</script>
</div>
{% endblock content2 %}
