{% extends "tmplt_app.html" %}

{% block head %}

{% endblock head %}

{% set tcompleted_values = [false] if request.args.get("tnotcomletedonly") == 'Yes' else [true, false] %}
{% set tlactive_values = [true] if request.args.get("tlactiveonly") == 'Yes' else [true, false] %}

{% block data %}
<table class="table table-responsive table-hover caption-top table-sm">
  <caption>
    <h2 class="text-left-right">
      <span class="left-text"> All Tasks for {{ g.user.uname }} </span>
      <span class="byline toperation">
        <a href={{ url_for('task', tlist_id=0, task_id=None, mode='alt') }}><strong>NEW</strong></a> || 
        <a href={{ url_for('tlists') }}> <strong>TListView</strong></a>
      </span>
    </h2>
  </caption>
  <thead>
    <tr>
        <th>Pri</th>
        <th>Task name</th>
        <th>Date_due</th>

        <th>
          {% if request.args.get("tnotcomletedonly") == 'Yes' %}
          <a href={{ url_for('tasksall', tnotcomletedonly='No', allsort=request.args.get('allsort', 'No'), tlactiveonly=request.args.get('tlactiveonly', 'No')) }}  class="toperation"> <strong>F:all</strong> </a> 
          {% else %}
          <a href={{ url_for('tasksall', tnotcomletedonly='Yes', allsort=request.args.get('allsort', 'No'), tlactiveonly=request.args.get('tlactiveonly', 'No')) }}  class="toperation"> <strong>F:~compl</strong> </a> 
          {% endif %}
          <br>Completed|Date
        </th>
 
        <th>
          {% if request.args.get("altsort") == 'Yes' %}
          <a href={{ url_for('tasksall', altsort='No', tnotcomletedonly=request.args.get('tnotcomletedonly', 'No'), tlactiveonly=request.args.get('tlactiveonly', 'No')) }}  class="toperation"> <strong>ORD:main</strong> </a> 
          {% else %}
          <a href={{ url_for('tasksall', altsort='Yes', tnotcomletedonly=request.args.get('tnotcomletedonly', 'No'), tlactiveonly=request.args.get('tlactiveonly', 'No')) }}  class="toperation"> <strong>ORD:alt</strong> </a> 
          {% endif %}
          ||
          {% if request.args.get("tlactiveonly") == 'Yes' %}
          <a href={{ url_for('tasksall', tlactiveonly='No', tnotcomletedonly=request.args.get('tnotcomletedonly', 'No'), allsort=request.args.get('allsort', 'No')) }}  class="toperation"> <strong>F:all</strong></a> 
          {% else %}
          <a href={{ url_for('tasksall', tlactiveonly='Yes', tnotcomletedonly=request.args.get('tnotcomletedonly', 'No'), allsort=request.args.get('allsort', 'No')) }}  class="toperation"> <strong>F:active</strong></a> 
          {% endif %}
          <br>Task list

        <th>Operation</th>
    </tr>
  </thead>  
  <tbody>
{% for t in list_of_tasks if t.tcompleted in tcompleted_values and t.ttlactive in tlactive_values %}
  <tr>
    <td class="tpri">{{ t.tpri }}</td>
    <td>
      <span class="tname">{{ t.tname }}</span> 
      <br> <span class="tdesc">{{ t.tdesc if t.desc else '...' | truncate(30, True) }}</span> 
    </td>
    <td class="tdate">{{ t.tdtdue  if t.tdtdue else ""}}</td>

    <td>
     {% if t.tcompleted %}
      <i class="bi bi-check-square"></i>
     {% else %}
      <i class="bi bi-square"></i>
     {% endif %}
     {{ t.tdtcompleted if t.tdtcompleted else ""}}     
    </td>

    <td>
      <span class="badge badge-light {{t.ttlcolor}} {{'text-dark' if t.ttlcolor=='white' else ''}}">
        {{ t.ttlpri }} |
        {{ t.ttlname  | truncate(15, True)  }} |
        {% if t.ttlactive %}
          <i class="bi bi-check-square"></i> 
        {% else %}
          <i class="bi bi-square"></i>
        {% endif %}   
      </span>
    </td>

    <td  class="toperation">
      <a href={{ url_for('task', tlist_id=t.ttlid, task_id=t.tid, mode='alt') }}><Strong>UPD</Strong></a> ||
      <a href="javascript:request_delete('{{ url_for('task', tlist_id=t.ttlid, task_id=t.tid) }}')"><Strong>DEL<Strong></a>
     </td>
  </tr>
{% endfor %}
</tbody>
</table>

<br>

{% endblock data %}