{% extends "tmplt_app.html" %}

{% block head %}

{% endblock head %}

{% set completed_values = [false] if request.args.get("notcomletedonly") == 'Yes' else [true, false] %}

{% block data %}
<div>

<table class="table table-responsive">
  <caption style="caption-side: top;">
    <h2 class="text-left-right">
      <span class="left-text">Tasks from list {{ TLID }} "{{ TLNAME | truncate(20, True) }}"</span>
      <span class="byline"><a href={{ url_for('tasksall') }}> <strong>AltView  </strong></a></span>
    </h2> 
  </caption>
  <thead>
    <tr>
       <!-- <th>id</th> -->
       <th>Pri</th>
       <th>Name</th>
       <th>Description</th>
       <th>Date_due</th>
       <th>Completed</th>
       <th>_Date</th>
       <th>Operation</th>
    </tr>
  </thead>  
  <tbody>
{% for t in list_of_tasks if t.tcompleted in completed_values : %}
  <tr>
    <!-- <td align="right">{{ t.tid }}</td> -->
    <td>{{ t.tpri }}</td>
    <td class="tname">{{ t.tname }}</td> 
    <td class="tdesc">{{ t.tdesc }}</td>
    <td class="tdate">{{ t.tdtdue }}</td>
    <td>
      {% if t.tcompleted %}
        <i class="bi bi-check-square"></i>
      {% else %}
        <i class="bi bi-square"></i>
      {% endif %}
    </td>
    <td class="tdate">{{ t.tdtcompleted }}</td>
    <td class="toperation"><a href={{ url_for('task', tlist_id=TLID, task_id=t.tid, mode='main') }}><Strong>UPD</Strong></a>||
        <a href={{ url_for('task_delete', tlist_id=TLID, task_id=t.tid) }}><Strong>DEL</Strong></a>
    </td>
  </tr>
{% endfor %}
</tbody>
<tfoot>
<tr>
    <td> </td> 
    <!-- <td>  </td>    -->
    <td> <a href={{ url_for('task', tlist_id=TLID, task_id=None, mode='main') }}><strong>NEW</strong></a></td>
    <td>  </td>   
    <td>  </td>   
    <td> 
      {% if request.args.get("notcomletedonly") == 'Yes' %}
        <a href={{ url_for('tasks', tlist_id=TLID) }}><strong>F:all</strong> </a> 
      {% else %}
        <a href={{ url_for('tasks', tlist_id=TLID, notcomletedonly='Yes') }}><strong>F:~compl</strong></a> 
      {% endif %}  
    </td>
    <td>  </td>   
    <td> <a href={{ url_for('tlists') }}><strong>UP</strong></a> </td>    
</tr>
</tfoot>
</table>
</div>
{% endblock data %}