{% extends "tmplt_app.html" %}

{% block head %}

{% endblock head %}

{% set active_values = [true] if request.args.get("activeonly") == 'Yes' else [true, false] %}

{% block data %}
<table class="table table-responsive">
<caption style="caption-side: top;">
  <h2 class="text-left-right">
    <span class="left-text"> Task lists</span>
    <span class="byline toperation">
      <a href={{ url_for('tlist') }}><strong>NEW</strong>   ||
      <a href={{ url_for('tasksall') }}> <strong>AltView</strong></a></span>
  </h2>
</caption>
<thead>
<tr>
    <th>Count</th>
    <th>Priority</th>
    <th>List_name</th>
    <th>{% if request.args.get("activeonly") == 'Yes' %}
      <a href={{ url_for('tlists') }} class="toperation"><strong>F:all</strong></a> 
      {% else %}
      <a href={{ url_for('tlists', activeonly='Yes') }} class="toperation"><strong>F:act</strong></a> 
      {% endif %}
      <br>Active</th>
    <th>Date_created</th>
    <th>Color</th>
    <th>Operation</th>
</tr>
</thead>
<tbody>
{% for tl in list_of_tlists if tl.tlactive in active_values : %}
  <tr>
    <td  class="tpri">{{ tl.tltcount }}</td>
    <td class="tpri">{{ tl.tlpri }}</td>
    <td class="toperation tname"><a href={{ url_for('tasks', tlist_id=tl.tlid) }}><Strong>{{ tl.tlname }}</Strong></a></td> 
    <td class="tchbox">
      {% if tl.tlactive %}
        <i class="bi bi-check-square"></i>
      {% else %}
        <i class="bi bi-square"></i>
      {% endif %}      
    </td> 
    <td class="tdate">{{ tl.tldtcreated }}</td> 
    <td  class="{{ tl.tlcolor }}">{{ tl.tlcolor }}</td> 
    <td class="toperation"> <a href={{ url_for('tlist', tlist_id=tl.tlid) }}><Strong>UPD</Strong></a> ||
      <a href={{ url_for('tlist_delete', tlist_id=tl.tlid) }}><Strong>DEL</Strong></a> 
    </td>
  </tr>
{% endfor %}
</tbody>
<tfoot>
<tr>
    <td>  </td>
    <td>  </td>
    <td>  </td> 
    <td>  </td>
    <td>  </td> 
    <td>  </td> 
    <td>  </td> 
  </tr>
</tfoot>
</table>

<br>
{% endblock data %}